.create-note-input {
  margin-top: 0.5em;
  padding: 0.5em;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  width: 100%;
}
.create-note-input-container {
  display: flex;
}

.button-13 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  background: #6e6d70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
    inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #dfdedf;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-13:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.create-note-button-container {
  margin-top: 1em;
}
